// Mixin Scss
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@mixin header-link{
    font-family: $Gilroy;
    font-size: 12px;
    line-height: 124.18%;
    text-align: center;
    color: $color-Black;
    text-decoration: none;
}
@mixin header-btn($bg-White){

    border-radius:14px;
    background-color: $bg-White;
    cursor: pointer;
    border: 0;
}