$mainColour: #125E5C;
$accentColour: #FE8029;
$mainBgColour: #94C4C8;

$bg-White: #ffffff;
$bg-LigthSmokyWhite: #f6f6f6;
$bg-SmokyWhite: #ededed;

$color-DarTurquoise: #115E5C;
$color-Black: #000000;
$color-White: #ffffff;
$color-WetAsphalt: #4D4D4D;
$color-MotherPearlLightGray: #989898;
$color-GreenishBlack: #1A1817;
$color-WhiteAluminum: #AFAEAE;
$color-SunnyYellow: #F49B15;

$Gilroy: "Gilroy", OpenSans;

$sizeCoub: 45px;
