@font-face {
  font-family: "BananaGrotesk";
  font-display: swap;
  src: url("../fonts/BananaGrotesk-Light.woff") format("woff"), url("../fonts/BananaGrotesk-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BananaGrotesk";
  font-display: swap;
  src: url("../fonts/BananaGrotesk-Regular.woff") format("woff"), url("../fonts/BananaGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BananaGrotesk";
  font-display: swap;
  src: url("../fonts/BananaGrotesk-Medium.woff") format("woff"), url("../fonts/BananaGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BananaGrotesk";
  font-display: swap;
  src: url("../fonts/BananaGrotesk-Semibold.woff") format("woff"), url("../fonts/BananaGrotesk-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "BananaGrotesk";
  font-display: swap;
  src: url("../fonts/BananaGrotesk-Bold.woff") format("woff"), url("../fonts/BananaGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BananaGrotesk";
  font-display: swap;
  src: url("../fonts/BananaGrotesk-Extrabold.woff") format("woff"), url("../fonts/BananaGrotesk-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Yorkten";
  font-display: swap;
  src: url("../fonts/Yorkten-Regular.woff") format("woff"), url("../fonts/Yorkten-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.input-search,
.input-burger,
.input-navbar-nested {
  display: none;
}

details summary::-webkit-details-marker {
  display: none;
}

.main {
  min-width: 0;
}

.main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main form input {
  margin-bottom: 10px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.search {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #f6f6f6;
}

.burger {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 45px;
  min-width: 45px;
  padding: 11px;
  cursor: pointer;
}

.burger span {
  width: 20px;
  height: 2px;
  background-color: #000000;
  display: block;
  border-radius: 2px;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.burger span:first-child {
  margin-bottom: 5px;
}

.burger span:last-child {
  width: 14px;
}

.burger:hover span {
  background-color: #125E5C;
}

#burger:checked ~ .popup-menu {
  left: 0;
}

.popup-menu {
  width: 25%;
  height: 100vh;
  background: #f6f6f6;
  -webkit-transition: left 1s ease;
  -o-transition: left 1s ease;
  transition: left 1s ease;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -100%;
}

.menu-header {
  padding: 16px 0;
  max-height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  overflow-y: scroll;
  max-height: calc(100vh - 77px);
}

.menu-content:-webkit-scrollbar {
  width: 0;
}

.menu-content {
  -ms-overflow-style: none;
}

.menu-content {
  overflow: -moz-scrollbars-none;
}

.menu-content::-webkit-scrollbar {
  display: none;
}

.menu-content__details {
  width: 100%;
}

.menu-content__details[open] .menu-content__card {
  background-color: #9ACBD0;
  color: #ffffff;
  border: transparent;
}

.menu-content__details[open] .menu-content__card .svg {
  stroke: #ffffff;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-content__details .menu-content__card--summary {
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.menu-content__details .menu-content__card--summary .svg {
  width: 12px;
  position: absolute;
  top: 50%;
  right: 22px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  stroke: #000000;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.menu-content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 30px 11px 49px;
  width: 100%;
  height: 50px;
  max-height: 50px;
  border-radius: 10px;
  background-color: #ededed;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  font-family: "Gilroy", OpenSans;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #1A1817;
}

.menu-content__link span {
  display: inline-block;
  max-width: 40%;
}

.menu-content__link:hover .menu-content__block {
  bottom: -10%;
}

.menu-content__block {
  width: 30%;
  min-width: 49px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -38%;
  right: 13px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.menu-content__card {
  width: 100%;
  height: 80px;
  margin-bottom: 11px;
  border-radius: 10px;
  cursor: pointer;
  padding: 14px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: 1px solid #CCCCCC;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
  font-family: "Gilroy", OpenSans;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  background-color: #ffffff;
  color: #1A1817;
}

.menu-content__card:hover {
  background-color: #f6f6f6;
}

.menu-content__card--min {
  width: 48%;
  color: #ffffff;
  position: relative;
  border: 0;
  overflow: hidden;
}

.menu-content__card--min .svg {
  fill: #ffffff;
  position: absolute;
  top: 14px;
  right: 15px;
}

.menu-content__card--min:nth-child(1) {
  background-color: #FE7747;
}

.menu-content__card--min:nth-child(1)::before {
  content: url(../img/bg/menu-profile-bg.svg);
  position: absolute;
  top: 0;
  left: 13px;
}

.menu-content__card--min:nth-child(1):hover {
  background-color: #db673d;
}

.menu-content__card--min:nth-child(2) {
  background-color: #9198FF;
}

.menu-content__card--min:nth-child(2)::before {
  content: url(../img/bg/menu-products-bg.svg);
  position: absolute;
  top: 0;
  right: 0;
}

.menu-content__card--min:nth-child(2):hover {
  background-color: #ADB3FF;
}

.menu-content__card--min:nth-child(3) {
  background-color: #192B8A;
}

.menu-content__card--min:nth-child(3)::before {
  content: url(../img/bg/menu-gift-bg.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.menu-content__card--min:nth-child(3):hover {
  background-color: #08155A;
}

.menu-content__card--min:nth-child(4) {
  background-color: #FFC078;
}

.menu-content__card--min:nth-child(4)::before {
  content: url(../img/bg/menu-contant-bg_1.svg);
  position: absolute;
  top: 0;
  left: -1px;
}

.menu-content__card--min:nth-child(4)::after {
  content: url(../img/bg/menu-contant-bg_2.svg);
  position: absolute;
  bottom: -3px;
  right: 0;
}

.menu-content__card--min:nth-child(4):hover {
  background-color: #FFD09A;
}

input[type=search]::-ms-clear {
  display: none;
}

textarea {
  border: 1px solid #ECECEC;
  background-color: #F6F7F9;
  border-radius: 15px;
  padding: 17px 15px 16px 15px;
  font-family: "BananaGrotesk", OpenSans;
  font-size: 14px;
  line-height: 124.18%;
  font-weight: 600;
  color: #000000;
  width: 100%;
  resize: none;
  scrollbar-width: none;
}

textarea:-webkit-scrollbar {
  width: 0;
}

textarea {
  -ms-overflow-style: none;
}

textarea {
  overflow: -moz-scrollbars-none;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea:focus {
  outline: none;
  border: 1px solid #FE8029;
}

.form__item {
  position: relative;
  width: 100%;
  text-align: left;
}

.form__input {
  width: 100%;
  padding: 25px 15px 10px 15px;
  height: 52px;
  font-family: "Gilroy", OpenSans;
  font-weight: 600;
  font-size: 14px;
  line-height: 124.18%;
  color: #000000;
  border: 1px solid #ECECEC;
  background-color: #F6F7F9;
  border-radius: 15px;
  width: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.form__input:hover {
  background-color: #f6f6f6;
}

.form__input:focus {
  outline: none;
  border: 1px solid #FE8029;
}

.form__input:valid {
  border: 1px solid #115E5C;
}

.form__input:focus ~ .form__label,
.form__input:not(:focus):valid ~ .form__label {
  top: -9px;
  font-size: 11px;
}

.invalid {
  border: 1px solid #FF0000;
}

.invalid ~ .form__label {
  top: -9px;
  font-size: 11px;
}

.form__label {
  font-family: "BananaGrotesk", OpenSans;
  font-size: 14px;
  line-height: 124.18%;
  font-weight: 400;
  color: #89898B;
  position: absolute;
  pointer-events: none;
  left: 15px;
  right: 15px;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  line-height: 52px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn {
  font-family: "Gilroy", OpenSans;
  font-size: 14px;
  font-weight: 500;
  line-height: 124.18%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  min-width: 90px;
  border-radius: 15px;
  padding: 17px 10px 16px;
  color: #000000;
  border: 1px solid #E0E0E0;
  background-color: #ffffff;
}

.btn:hover {
  background-color: #ededed;
}

.btn:active {
  outline: none;
  background-color: #ffffff;
  color: #FE8029;
  border: 1px solid #FE8029;
}

.btn:focus {
  outline: none;
  background-color: #ffffff;
  color: #FE8029;
  border: 1px solid #FE8029;
}

.btn--accent {
  background-color: #FE8029;
  color: #ffffff;
  border: 1px solid transparent;
}

.btn--accent:hover {
  color: #ffffff;
  background-color: #ce6d28;
}

.btn--accent:active {
  color: #ffffff;
  background-color: #f8802a;
}

.btn--accent:focus {
  background-color: #f8802a;
  color: #ffffff;
  border: 1px solid #1A1817;
}

.btn--edit {
  min-width: auto;
  border-radius: 8px;
  padding: 7.4px 13px 4.3px;
  font-weight: 600;
  color: #377DFF;
  border: 1px solid #377DFF;
  background-color: #fff;
  text-transform: uppercase;
}

.btn--edit:hover {
  background-color: #f6f6f6;
}

.btn--edit:active {
  background-color: #ffffff;
  border: 1px solid #FE8029;
}

.btn--edit:focus {
  color: #FE8029;
  border: 1px solid #FE8029;
}

.btn--outline {
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #125E5C;
  padding: 14px 28px 14px 29px;
}

.btn--outline:hover {
  color: #ffffff;
  background-color: #125E5C;
}

.btn--outline:active {
  color: #ffffff;
  background-color: #125E5C;
  border: 1px solid transparent;
}

.btn--outline:focus {
  color: #ffffff;
  background-color: rgba(18, 94, 92, 0.9);
  border: 1px solid transparent;
}

.btn--red {
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #FF0000;
  font-size: 16px;
  padding: 16px 30px;
  color: #FF0000;
  background-color: #ffffff;
}

.btn--red:hover {
  color: #FF0000;
  background-color: #f6f6f6;
}

.btn--red:active {
  color: #FF0000;
  background-color: #ededed;
  border: 1px solid transparent;
}

.btn--red:focus {
  color: #ffffff;
  background-color: #FF0000;
  border: 1px solid transparent;
}

.input-radio,
.input-checkbox {
  display: none;
}

.label-radio {
  width: 18px;
  height: 18px;
  background: #F6F7F9;
  border: 1px solid #CACACA;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.label-radio:hover .label-radio__span {
  opacity: 0.1;
}

.label-radio__span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #125E5C;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
}

.input-radio:checked + .label-radio > .label-radio__span {
  opacity: 1;
}

.label-checkbox {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 1px solid #CACACA;
  border-radius: 6px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.label-checkbox__svg {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  fill: #125E5C;
}

.label-checkbox--grey {
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #8D9293;
}

.label-checkbox--grey > .label-checkbox__svg {
  fill: #ffffff;
}

.input-checkbox:checked + .label-checkbox > .label-checkbox__svg {
  opacity: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 9px;
}

.header__btn {
  min-width: 45px;
  height: 45px;
  border-radius: 14px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__btn:active {
  background-color: #f6f6f6;
}

.header .logo {
  width: 10%;
}

.header .logo__img {
  width: 103px;
  height: 47px;
}

.header__link {
  font-family: "Gilroy", OpenSans;
  font-size: 12px;
  line-height: 124.18%;
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.header__link--bold {
  font-weight: 700;
}

.header-top {
  background-color: #ededed;
  padding: 13px 0;
  max-height: 77px;
  margin-bottom: 8px;
}

.header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login-block {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-block__link {
  padding: 4px 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
}

.login-block__link:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.login-block__link:active {
  border-bottom: 1px solid #FE8029;
  color: #FE8029;
}

.login-block__link:not(:last-child) {
  border-right: 1px solid #D0D0D0;
}

.search-btn {
  padding: 15px 15px 14px 14px;
  margin-right: 18px;
  cursor: pointer;
}

.search-btn__svg path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  stroke: #000000;
}

.search-btn:hover .search-btn__svg path {
  stroke: #125E5C;
}

.basket {
  padding: 15px 15px 15.5px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket__price {
  margin-left: 13px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.basket--full {
  position: relative;
}

.basket--full::after {
  content: "";
  background: #FF8787;
  border: 2px solid #EDEDED;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 14px;
  width: 13px;
  height: 13px;
  position: absolute;
  top: -2px;
  right: -2px;
}

.basket__svg path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  stroke: #000000;
}

.basket:hover .basket__svg path,
.basket:hover .basket__price {
  stroke: #125E5C;
  color: #125E5C;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 90px;
}

.navbar {
  width: 100%;
}

.navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.navbar__items > .navbar-nested {
  position: relative;
  padding-right: 27px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.navbar__items > .navbar-nested::after {
  content: url(../img/icon/i-arrow-tiny.svg);
  width: 11px;
  height: 6px;
  position: absolute;
  right: 6px;
  top: -1px;
}

.navbar__item {
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

.navbar__item:hover {
  color: #1A1817;
}

.navbar__item:active {
  color: #125E5C;
}

.navbar-nested__items {
  text-align: left;
  list-style: none;
  margin-top: 15px;
  padding: 13px 0 10px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  background-color: #ffffff;
  max-width: 250px;
  min-width: 135px;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
}

.navbar-nested__item {
  margin-bottom: 3px;
}

.navbar-nested__item .header__link {
  text-align: left;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 14px;
  padding: 6px 16px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.navbar-nested__item .header__link:hover {
  color: #125E5C;
}

.navbar-nested__item .header__link:hover::before {
  left: 0;
}

.navbar-nested__item .header__link:active {
  color: #ffffff;
}

.navbar-nested__item .header__link:active::before {
  width: 100%;
}

.navbar-nested__item .header__link::before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #FE8029;
  position: absolute;
  top: 0;
  left: -4px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.navbar-nested--mobil {
  display: none;
}

.input-navbar-nested:checked + .navbar-nested > .navbar-nested__items {
  display: block;
}

.intro {
  min-width: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 60px;
}

.swiper-container {
  min-width: 0;
}

.intro-swiper {
  height: 520px;
  width: 100%;
  min-width: 0;
  overflow: hidden;
  border-radius: 60px;
}

.swiper-wrapper {
  height: 100%;
  min-width: 0;
}

.intro-swiper__slide {
  height: 100%;
  width: 100%;
  min-width: 0;
  overflow: hidden;
}

.intro-swiper__slide:last-child {
  border-radius: 0 60px 60px 0;
}

.intro-swiper__slide:first-child {
  border-radius: 60px 0 0 60px;
}

.intro-swiper__bg {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 81px;
}

.intro__title {
  margin: 0;
  max-width: 75%;
}

.intro__title a {
  font-family: "Gilroy", OpenSans;
  font-weight: bold;
  font-size: 54px;
  line-height: 124.18%;
  color: #ffffff;
  margin-bottom: 1px;
}

.intro__subtitle {
  font-family: "Yorkten", OpenSans;
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 124.18%;
  color: #FFFFFF;
  cursor: default;
  max-width: 60%;
}

.intro-scrollbar {
  position: absolute;
  bottom: 63px;
  left: 81px;
  z-index: 5;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__counter--active {
  position: absolute;
  left: -30px;
  top: -6px;
}

.intro__counter--last {
  position: absolute;
  right: -30px;
  top: -6px;
}

.intro-swiper .intro-scrollbar__block {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative;
}

.intro__counter {
  margin: 0 6px;
  font-family: "Gilroy", OpenSans;
  font-weight: bold;
  font-size: 14px;
  line-height: 124.18%;
  color: #FFFFFF;
}

.swiper-scrollbar-drag {
  height: 9px;
  width: 9px !important;
  background-color: #fff;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
}

.footer {
  width: 100%;
  padding: 64px 0 47px 0;
  background-color: #125E5C;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.footer__form .form__item {
  margin-right: 10px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 35px;
}

.footer-block {
  width: 100%;
}

.footer-block--1 {
  text-align: left;
}

.footer-block--1 .footer-block__title {
  margin-bottom: 8px;
}

.footer-block--1 .footer-block__subtitle {
  max-width: 258px;
}

.footer-block--2 {
  text-align: center;
}

.footer-block--2 .footer-block__title {
  margin-bottom: 8px;
}

.footer-block--2 .footer-block__subtitle {
  max-width: 393px;
  margin: 0 auto 19px;
}

.footer-block--3 .footer-block__title {
  margin-bottom: 8px;
  text-align: right;
}

.footer-block--4 {
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-block--4 .footer-block__title {
  margin-bottom: 23px;
}

.footer-block--4 .footer-payment {
  margin-bottom: 35px;
}

.footer-block--4 .footer-block__subtitle {
  margin-bottom: 37px;
}

.footer-block__title {
  font-family: "Gilroy", OpenSans;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.footer-block__title--small {
  font-size: 18px;
}

.footer-block__title--outline {
  font-size: 18px;
  color: #ffffff;
  -webkit-text-stroke: 0.5px #ffffff;
  -webkit-text-fill-color: transparent;
}

.footer-block__subtitle {
  font-family: "Yorkten", OpenSans;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ededed;
}

.footer-block__subtitle--medium {
  font-size: 16px;
  line-height: 20px;
}

.footer-block__subtitle--big {
  font-size: 20px;
}

.footer-block__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-block__item {
  margin-bottom: 8px;
  font-family: "Yorkten", OpenSans;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
}

.footer-block__item a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ededed;
}

.footer-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-payment__pic {
  margin-bottom: 5px;
  width: 48px;
  height: 30px;
  border-radius: 4px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 2px;
}

.footer-payment__pic:not(:last-child) {
  margin-right: 12px;
}

.copyright {
  font-family: "Gilroy", OpenSans;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

/* @import 'components/*.scss';

@import 'layout/*.scss';

@import 'pages/*.scss'; */

@media (max-width: 1200px) {
  .intro-swiper__slide:first-child,
  .intro-swiper__slide:last-child,
  .intro-swiper {
    border-radius: 0;
  }
}

@media (max-width: 1024px) {
  .burger {
    padding: 5px;
  }

  .popup-menu {
    width: 50%;
  }

  .header-right,
  .header-left {
    width: auto;
  }

  .header-top {
    padding: 10px 0;
  }

  .header .logo {
    width: auto;
  }

  .header .logo__img {
    height: 35px;
    width: auto;
  }

  .header__btn {
    min-width: 40px;
    height: 40px;
    border-radius: 9px;
  }

  .header .search-btn {
    padding: 5px;
  }

  .header .basket {
    padding: 5px 10px 5px 8px;
  }

  .navbar-nested--mobil {
    display: block;
  }

  .navbar__item:not(:last-child):nth-child(odd) {
    display: none;
  }

  .intro {
    margin-bottom: 45px;
  }

  .intro-swiper__bg {
    padding: 45px;
  }

  .intro__title a {
    font-size: 48px;
  }

  .intro__subtitle {
    font-size: 34px;
  }

  .footer {
    padding: 45px 0 35px 0;
  }

  .footer-block--1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    grid-column: 1/2;
  }

  .footer-block--3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    grid-column: 3/4;
  }

  .footer-block--2 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    grid-column: 1/4;
  }

  .footer-block--4 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    grid-column: 1/4;
  }
}

@media (max-width: 768px) {
  .burger span {
    width: 18px;
  }

  .burger span:first-child {
    margin-bottom: 4px;
  }

  .burger span:last-child {
    width: 12px;
  }

  .popup-menu {
    width: 100%;
  }

  .menu-content {
    max-width: 75%;
    margin: 0 auto;
  }

  .header {
    margin-bottom: 0;
  }

  .header-top {
    padding: 11px 0;
    margin-bottom: 0;
  }

  .header__btn {
    min-width: 35px;
    height: 35px;
    border-radius: 7px;
  }

  .header .login-block {
    display: none;
  }

  .header-bottom {
    display: none;
  }

  .intro {
    margin-bottom: 40px;
  }

  .intro-swiper {
    height: 420px;
  }

  .intro-swiper__bg {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro-scrollbar {
    width: 20%;
  }

  .intro__title {
    max-width: 100%;
  }

  .intro__title a {
    font-size: 44px;
  }

  .intro__subtitle {
    font-size: 30px;
  }
}

@media (max-width: 435px) {
  .intro {
    margin-bottom: 30px;
  }

  .intro-swiper {
    height: 300px;
  }

  .intro__title a {
    font-size: 28px;
  }

  .intro__subtitle {
    font-size: 20px;
  }

  .intro-scrollbar {
    bottom: 32px;
    left: 56px;
    width: 35%;
  }

  .footer-block--2 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .footer-block--1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    grid-column: 1/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .footer-block--3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    grid-column: 1/4;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .footer-block--3 .footer-block__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .footer-block--2 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .footer-block--2 .footer__form {
    padding: 0;
  }
}

@media (max-width: 425px) {
  .menu-content {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .burger span {
    width: 16px;
  }

  .burger span:first-child {
    margin-bottom: 3px;
  }

  .burger span:last-child {
    width: 10px;
  }

  .header {
    margin-bottom: 25px;
  }

  .header-top {
    padding: 9px 0;
  }

  .header__btn {
    min-width: 30px;
    height: 30px;
    border-radius: 5px;
  }

  .header .search-btn,
  .header .basket__price {
    display: none;
  }

  .header-bottom {
    display: none;
  }

  .intro {
    margin-bottom: 20px;
  }

  .intro-swiper {
    width: 90%;
    border-radius: 10px;
    height: 160px;
  }

  .intro__counter {
    font-size: 12px;
  }

  .intro-swiper__slide:first-child {
    border-radius: 10px 0 0 10px;
  }

  .intro-swiper__slide:last-child {
    border-radius: 0 10px 10px 0;
  }

  .intro-swiper__bg {
    padding: 14px 19px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .intro__title a {
    font-size: 24px;
  }

  .intro__subtitle {
    font-size: 14px;
  }

  .intro-scrollbar {
    bottom: 26px;
    left: 40px;
    width: 35%;
  }

  .footer-block__title {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .footer-block--2 .footer-block__subtitle {
    font-size: 12px;
    max-width: 255px;
  }

  .footer-block--3 .footer-block__subtitle {
    font-size: 12px;
    max-width: 315px;
  }

  .footer-block--4 .footer-block__subtitle {
    font-size: 14px;
  }

  .footer-block--4 .copyright {
    font-size: 12px;
  }

  .footer-payment__pic {
    width: 32px;
    height: 20px;
    background-size: contain;
  }
}